@model LicenseManager.Models.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard - LM";
}

<header class="aui-page-header">
    <div class="aui-page-header">
        <div class="aui-page-header-inner">
            <h1>Dashboard</h1>
        </div>
    </div>
</header>

<div class="aui-page-panel fixed-right">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <h3>Catalogs</h3>

@*            @if (Model.Catalogs != null)*@
@*            {*@
@*                <table class="aui">*@
@*                    <thead>*@
@*                        <tr>*@
@*                            <th>Catalog</th>*@
@*                            <th>Description</th>*@
@*                            <th>Total Assets</th>*@
@*                        </tr>*@
@*                    </thead>*@
@*                    <tbody>*@
@*                        @foreach (var catalog in Model.Catalogs)*@
@*                        {*@
@*                            <tr>*@
@*                                <td><a href="@Url.Catalog(catalog.Id, catalog.Name.UrlFriendly())">@catalog.Name</a></td>*@
@*                                <td>@catalog.Description</td>*@
@*                                <td>123</td>*@
@*                            </tr>*@
@*                        }*@
@*                    </tbody>*@
@*                </table>*@
@*            }*@

            <h3>Quotes</h3>

@*            @if (Model.Quotes != null)*@
@*            {*@
@*                foreach (var quote in Model.Quotes)*@
@*                {*@
@*                    <br />*@
@*                    <a href="@Url.Quote(quote.Id, quote.Name.UrlFriendly())">@quote.Name</a>*@
@*                }*@
@*            }*@
        </section>

        <aside class="aui-page-panel-sidebar">
        </aside>
    </div>
</div>