@using LicenseManager.Infrastructure.Extensions
@using LicenseManager.Infrastructure.Helpers
@using LicenseManager.Infrastructure.Optimizations
@using LicenseManager.Views
@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/css/lib/aui/aui-all.css")" media="all">
    <!--[if lt IE 9]><link rel="stylesheet" href="@Url.Content("/Content/css/lib/aui/aui-ie.css")" media="all"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="@Url.Content("/Content/css/lib/aui/aui-ie9.css")" media="all"><![endif]-->
    @Html.RenderCssBundle("app.css", BundleOptions.BuildConfigDependent)
</head>
<body class="aui-layout">
    <div id="page">
        @(Request.IsAuthenticated ? Html.Partial("_AuthenticatedHeader") : Html.Partial("_UnauthenticatedHeader"))

        <section id="content" role="main">
            @RenderBody()
        </section>

        @Html.Partial("_Footer")
    </div>

    <script>
        // set the global application vars
        window.rootUrl = '@Url.SiteRoot()';
        window.applicationPath = '@Context.Request.ApplicationPath.EnsureTrailingSlash()';
        @if (Request.IsAuthenticated)
        {
            <text>window.currentUser = @ViewHelpers.JsEncode(CurrentUser);</text>
        }
    </script>

    <script type="text/javascript" src="@Url.Content("~/Content/js/lib/handlebars.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/lib/aui/aui-all.js")"></script>
    @Html.RenderJsBundle("templates.js", BundleOptions.MinifiedAndCombined)
    @RenderSection("scripts", false)
    @RenderSection("bootstrap", false)
    @Html.RenderJsBundle("bundle.js", BundleOptions.BuildConfigDependent)
    @RenderSection("secondaryScripts", false)

    @MiniProfiler.RenderIncludes()
</body>
</html>
