@using LicenseManager.Infrastructure.Extensions
@using LicenseManager.Models
@using LicenseManager.Models.ViewModels
@model LicenseManager.Models.ViewModels.ProductDetailsViewModel

@{
    var productName = Model.Product.Name;
    ViewBag.Title = string.Format("{0} - LM", productName);
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h2>@Model.Product.Name</h2>

                <ul class="operations-list">
                    <li>
                        <span class="list-label">Created By:</span>
                        <span>@Model.Product.CreatedBy</span>
                    </li>
                    <li>
                        <span class="list-label">URL:</span>
                        <span><a href="@Model.Product.Url">@Model.Product.Url</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            @Html.Partial("Partials/Products/ShowSidebar", new SidebarViewModel<Product>("summary", Model.Product))

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Summary</h2>
                        </div>
                    </div>
                </div>

                <div class="summary-modules">
                    <div class="aui-group">
                        <div class="aui-item">
                            <div class="module">
                                <!-- Product description module -->
                                <p>@Model.Product.Description</p>
                            </div>
                            <div class="module">
                                <!-- Product versions module -->
                                <h3>Recent Activity</h3>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- .aui-page-panel-content -->
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>